.TrackListItem {
    width: 100%;
}

.TrackListItem-container {
    /* width: 100%; */
    margin: 2em auto;
    background-color: #14253d;
    border-radius: 15px;
    margin-bottom: 1rem;
    /* padding: 2rem; */
}

a.TrackListItem-image {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
}

a.TrackListItem-image img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.TrackListItem-image:hover::after {
  opacity: 1;
}

.TrackListItem-content h1 {
    font-size: 1vi;
}

.TrackListItem-content h1 a, .TrackListItem-content p a {
    text-decoration: none;
    color: #FFFFFF;
}

.TrackListItem-content p {
    color: #FFFFFF;
}

/*============= All mobile screens ===============*/
@media (min-width: 100px) and (max-width: 1000px) {
	
}